@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Encode Sans Condensed', "Arial Narrow", Arial, sans-serif;
    background-color:aliceblue;
    margin: 0;
    overflow-x: hidden;
}



h1{
   
    margin: 0px;
    color:#191919;
    font-weight: 800 ;
    text-align: center;
    padding-top: 77px;
    padding-left: 15%;
    padding-right: 15px;
    font-size: 5vw;
}

h3 {
    color:#D20A0A;
    margin: 0;
}

p{
    color:#191919;
}


main{
    margin-left: 5%;
    margin-right: 5%;
    
}


img{
    border-radius: 50px;
}

aside{

    display:flex;
    flex-direction: column;
    
    width: 400px; 
    border: 2px solid red;
}

footer{

    background-color: #191919;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 50px;
    text-align: center;
}

abbr{
    text-decoration: none;
}
table{
    width: 300px;
}
.box_top{
    /*border: 1px solid black;*/
    border-radius: 13px;
    display: flex;
    justify-content: center;
    background-color: #D20A0A;
    top: 1px;
    position: sticky;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 5;
}

.menu_option{  
    height: 35px;
    display: flex;  
    justify-content: center;
    align-content: center;
    margin: 0 5px;
   padding: 0 5px;
}

.menu_option a{
    text-decoration: none;
    color:#191919;
}

.menu_option:hover button{
    background-color: #b30a0a;
    border-radius: 12px;
}

.dropDownMenu:hover{
    background-color: #b30a0a;
    border-radius: 12px;
}

.dropDownMenu{
    display: inline-block;
}

.menu_option button{
    font-weight: 600;
    font-size: large;  
    background-color: #D20A0A;
    color: #191919;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.dropDownMenu a{
    font-weight: 600;
    display: block;
    color: #191919;
    text-decoration: none;
    padding:10px 15px;
}

.dropDownMenu .dropOptions{
    display: none;
    position: absolute;
    background-color: #b30a0a;
    min-width: 100px;
    box-shadow: 1px 1px 5px #191919;
    border-radius: 12px;
}

.dropDownMenu:hover .dropOptions{
    display: block;
}

.dropOptions a:hover{
    background-color: #830909;
    border-radius: 12px;
}

.main_top{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    flex-wrap: wrap ;
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.newpost{
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 1.5%;
    border-radius: 50px;
    box-shadow: 0 0 15px gray;
    flex-wrap: wrap;
    max-width: 1400px;
    animation:goUp linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;

}

.post_right{
    margin-left: 20px;
    
    display: flex;
    flex-direction: column;
    height: 300px;
    max-width: 300px;
}

.post_left label{
    cursor: zoom-in;
}

.photoCheck{
    display: none;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 15%;
}

input[type=checkbox]:checked ~ label > img
{
    transform: scale(1.5);
    cursor: zoom-out;
    transition: transform 1s;
}

.newpost a{
    font-size:large;
    color:#D20A0A ;
}

.formText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#formTitle{
    font-size:xx-large;
}
#formDescription{
    color: #D20A0A;
    font-size: x-large;
}

h3::before{
    content: ' ';
    border: 1px solid #D20A0A;
    
    height: 1px;
    border-radius: 150px;

    margin-right: 5px;
}



#firstImgContainer{
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 13%;
}

#firstImg{
    border-radius: 50px;
}

#secondImg{
    display: none;
}

#funFact{
    text-align: center;
}

#footerText{
    margin-top: 5px;
    margin-bottom: 0px;
    color: aliceblue;
    text-decoration: none;
}

#sidebar{
    display: none;
}

.icon_menu, .smallMenu{
    display: none;
}

@keyframes goUp{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }

}

@media screen and (max-width: 1055px) {
    
    #firstImgContainer{
        display: flex;
        justify-content: center;
        padding:0;
        padding-right: 0%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .main_top{
        
        display: flex;
        flex-direction: column;
        align-content: center;
        
        
    }

    #h1br{
        display: none;
    }
    
    h1{
        margin: 0px;
        color:#191919;
        font-weight: 800 ;
        text-align: center;
        padding-top: 77px;
        font-size: 3em;
        padding-left: 15%;
        padding-right: 15%;
    }

  }
@media screen and (max-width: 749px) {
    .box_top{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 7;
        width: 50px;
        margin:0;
        box-shadow: 5px 0 5px rgba(0, 0, 0, 0.486);
    }
    
    .icon_menu{
        display: block;
    }
    .smallMenu{
        display: none;
    }

    .box_top > :not(.smallMenu, .icon_menu)
    {
        display: none;
    }

    #sidebar:checked + .box_top > .smallMenu{
        display: block;
    }
    #sidebar:checked + .box_top > .icon_menu{
        display: none;
    }
    #sidebar:checked + .box_top
    {
        width: 300px;
    }

    

  }
@media screen and (max-width: 749px) {
    #newpost{
        justify-content: center;
    }
    input[type=checkbox]:checked ~ label > img
    {
        transform: scale(1.0);
        cursor: zoom-out;
        transition: transform 1s;
    }

  }
@media screen and (max-width: 649px) {
    
    h1{
        padding-top: 20px;
        font-size: 2em;

    }
    
    #firstImg{
        display: none;
    }
    
    #secondImg{
        display: block;
    }

    #newpost{
        
        margin:8px;
    }

  }